.swiper-scrollbar-drag {
    background: var(--color-primary) !important;
}

.swiper-scrollbar {
    background: #d9d9d9 !important;
}

.swiper-backface-hidden .swiper-slide {
    margin-bottom: 2rem;
}
